﻿@model InterviewText.Models.PagedModel<IEnumerable<InterviewTest.Core.Models.FileDetails>>

@{
    ViewData["Title"] = "Grid Documents";
    var fileDetails = Model.Model;
}

<h4>Grid Documents</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in fileDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", "File", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "File", new { id = Model.TransactionId, email = Model.Email })
            </td>
        </tr>
}
    </tbody>
</table>
