﻿@model InterviewText.Models.TransactionViewModel

@{
    ViewData["Title"] = "AddUser";
}

<h4>Add New User</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="user-email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div id="file-browse" name="form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="file" id="files" multiple />
                    </div>
                    <div class="col-sm-2">
                        <input type="button" id="upload-btn" class="btn btn-danger" value="Upload" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="width:100px;">
                        <div id="progressbar" style="position:relative; display: none;">
                            <div class="progressbar-label" style="position: absolute;left: 48%;top: 20%;font-weight: bold;text-shadow: 1px 1px 0 #fff;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/Script/file//app-file.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
